<style>
    .left,
    .right {
        top: 50%;
        transform: translateY(125%);
		left: 10px;
    }

    .left {
        background: #337ab7;
        display: block;
		position: fixed;
        width: 50px;
        transition: width .20s;
		z-index:1100;
		opacity: 0.9;
    }

    .right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 0px;
    }
	
    .left:hover {
        width: 180px;
    }

    .item:hover {
        background-color: #222;
    }

    .item {
        height: 45px;
        overflow: hidden;
        color: #fff;
		display: flex;
		align-items: center;
   
    }
	.material-icons
	{
		margin: 15px;
        width: 30px;
        color: #fff;
		text-align: center;
	}
	
</style>